@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application on .NET Core MVC for interacting with an <a href="http://www.dneonline.com/calculator.asmx?wsdl">online service</a> over the SOAP protocol.</p>
</div>
